.heading {
    text-align: center;
    background-color: lightgrey;
}

body {
    font-family: Oswald; 

}

img {
    display: block;
    max-width: 100%;
    width: 30%;
    height: auto;
    margin: 0 auto;
  }

figcaption {
    text-align: center;
    padding: 20px 0px;
    background-color: #eeeeee;
}

.main-list {
    width: 100%;
    background-color: #eeeeee;
}

.list {
    text-align: left;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0;
}

.wishes {
    text-align: center;
    padding-top: 20px;
}

h3 {
    padding-top: 10px;
}