.heading {
    text-align: center;
    background-color: lightgrey;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

img {
    display: block;
    max-width: 100%;
    width: 30%;
    height: auto;
    margin: 0 auto;
  }

figcaption {
    text-align: center;
    padding: 20px 0px;

    background-color: lightgray;
}

.main-list {
    width: 100%;
    background-color: lightgray;
}

.list {
    text-align: left;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: 0;
}